<%= image_tag @image.picture.url() %>
<p><%= @image.caption %></p>

 <div>
<% if user_signed_in? %>
 	<% if @image.user_id == current_user.id %>
 	 	<%= link_to "Back to Post", post_path(@image.post_id) %>
		<%= link_to "Delete Image", image_path(@image), method: :delete, data: { confirm: "Are you sure you want to delete this image?" } %>
	<% end %>
<% end %>
</div>